{% extends 'base.html.twig' %}

{% block body %}
    </br>
    <h1>Fuck you, you don't have the rights !</h1>
    <h3>Please log as an Admin to access the article edition<h3>

    <a href="{{ path('app_login')}}">Login to access</a>

{% endblock %}