{% extends 'base.html.twig' %}

{% block body %}

<h1>Tag : {{ tag.name }}</h1>
<ul>
    <p>Articles taggés "{{ tag.name }}" :</p>
    {% for article in article %}
        <li>
            <a href="{{ path('blog_show', { 'slug' : article.title }) }}">{{ article.title }}</a>
        </li>
    {% else %}
        <li>No articles for this tag</li>
    {% endfor %}
</ul>

{% endblock %}